fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
google-generativeai
google-cloud-speech
edge-tts
sounddevice
soundfile
numpy
pandas
streamlit
sqlalchemy
faiss-cpu
sentence-transformers
requests
pytest
